/* Background cyber look */
body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at top, #010101, #000);
  color: #00ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  background: #0a0a0a;
  border-radius: 15px;
  box-shadow: 0 0 30px #00ffcc, 0 0 60px #00ffcc inset;
  padding: 40px;
  width: 450px;
  text-align: center;
}

/* Heading */
h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #33d4b4;
  text-shadow: 0 0 10px #778582;
}

/* Input field */
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 20px 0;
  background: #000;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  color: #00ffcc;
  font-size: 1em;
  text-align: center;
  outline: none;
  transition: 0.3s;
}

input[type="password"]:focus {
  box-shadow: 0 0 20px #00ffcc;
  border-color: #00ffcc;
}

/* Strength */
#strength span {
  font-weight: bold;
  font-size: 1.5em;
}

/* Requirements */
#requirements ul {
  list-style: none;
  padding: 0;
}

#requirements li {
  margin: 8px 0;
  font-size: 1em;
  transition: 0.3s;
}

/* Note */
.note {
  margin-top: 20px;
  font-size: 0.9em;
  color: #999;
}
.note a {
  color: #539cb0;
  text-decoration: none;
}